<% {dx, dy} = relative_position(@agar, @current_player) %>
<% radius = :math.sqrt(@agar.size / :math.pi) %>
<circle
    cx="<%= 50 + dx %>"
    cy="<%= 50 + dy %>"
    r="<%= radius %>"
    class="agar"
/>
