<% {dx, dy} = relative_position(@player, @current_player) %>
<%= if @player.alive? do %>
  <circle
      cx="<%= 50 + dx %>"
      cy="<%= 50 + dy %>"
      r="<%= :math.sqrt(@player.size / :math.pi) %>"
      class="player <%= relative_size_class(@player, @current_player) %>"
  />
<% else %>
  <circle
      cx="<%= 50 + dx %>"
      cy="<%= 50 + dy %>"
      r="<%= :math.sqrt(@player.size / :math.pi) %>"
      class="player dead"
  />
<% end %>
